@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.primary-header {
  font-family: "Righteous", cursive !important;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-reveal {
  display: none;
}

/* No Arrows for contact input - Firefox*/

input[type="number"] {
  -moz-appearance: textfield;
}

/* No Arrows for contact input - Other Browser*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sidebar-nav {
  height: 100vh;
}

.menu {
  display: none;
}

.tab-list {
  background: #141728;
  transition: transform 0.2s ease-out;
}

@media (min-width: 768px) {
  .tab-list {
    transform: translateY(0) !important;
  }
}

@media (max-width: 768px) {
  .menu {
    display: block;
  }

  .sidebar-nav {
    height: 80px;
    position: relative;
  }

  .tab-list {
    transform: translateY(-100%);
    position: relative;
    z-index: -1;
  }
}
