@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #374151;
}

.primary-header {
  font-family: "Righteous", cursive !important;
  color: #1f2937;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-reveal {
  display: none;
}

/* No Arrows for contact input - Firefox*/

input[type="number"] {
  -moz-appearance: textfield;
}

/* No Arrows for contact input - Other Browser*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sidebar-nav {
  height: 100vh;
}

.menu {
  display: none;
}

.nav-header {
  background: #e5e7eb;
  position: relative;
  z-index: 2;
}

.header {
  color: #1f2937;
}

.tab-list {
  background: #e5e7eb;
  transition: transform 0.2s ease-out;
}

.table-div {
  max-width: 100%;
}

/* .table-div::-webkit-scrollbar:horizontal {
  background-color: aqua;
} */

/* .table {
  min-width: 1440px;
} */

.table-options {
  cursor: pointer;
}

.event-options {
  z-index: 100;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

@media (min-width: 767px) {
  .tab-list {
    transform: translateY(0) !important;
  }
}

@media (max-width: 767px) {
  .menu {
    display: block;
  }

  .sidebar-nav {
    height: 80px;
    position: relative;
  }

  .tab-list {
    transform: translateY(-100%);
    position: relative;
  }
}
